body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000; /* Black background */
  color: white; /* White text */
  overflow-x: hidden;
}

header {
  background: linear-gradient(to right, #000000, #171a29); /* Black to dark green gradient */
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  font-size: 2em;
  font-weight: bold;
}

.logo .port {
  color: grey;
}

.logo .folio {
  color: yellow;
}

.menu-toggle {
 display: none;
  font-size: 2em;
  cursor: pointer;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #00FF00; /* Green text for links */
  text-decoration: none;
  font-size: 1.2em;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero p {
  font-size: 1.2em;
  color: #fff; /* White text for description */
}


.main-text {
  font-size: 6em;
  font-weight: bold;
  color: transparent; /* keep the original font color */
  background: linear-gradient(45deg, #fff 25%, #00FF00 25%, #00FF00 50%, #fff 50%, #fff 75%, #00FF00 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  transition: opacity 2s, transform 2s;
}

.main-text.animated {
  opacity: 1;
  transform: scale(0.6) translate(-800px, -400px)
}

.typewriter {
  color :#00FF00
}

section {
  margin: 20px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.in-view {
  opacity: 1;
  transform: translateY(0);
}

myIntro {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(32, 30, 30, 0.3);
	color: #f1f1f1;
	box-shadow: 0px 16px 32px 0px rgba(18, 18, 18, 0.2);
	border-radius: 5px;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 90%;
}

.line-1 {
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	white-space: nowrap;
	overflow: hidden;
	font-size: 50px;
	font-weight: 900;
	text-shadow: 2px 2px 4px #000000;
	letter-spacing: 2px;
	width: calc(100% + 5px);
	transition-duration: 1s;
}

#fName {
	color: #5cbbce;
}

#lName {
	color: #f3246f;
}

/*----------------Animation--------------- */
.anim-typewriter {
	animation: typewriter 5s steps(30) normal, blinkTextCursor 0.7s ease-in-out infinite;
}

@keyframes typewriter {
	from {
		width: 0;
	}

	to {
		width: calc(100% + 5px);
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}

	to {
		border-right-color: transparent;
	}
}
